@import url('font/font.css');

body { 
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
}

/* Buttons */
.btn {
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 50px;
  
}

/* Navbar */
.navbar {
  margin-bottom: 0;
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
  font-family: 'Mikado Bold', Gotham, sans-serif;
  color: #94B9D1;
  font-size: 32px;
  line-height: 1.4em;
}
.navbar a#s5 {
    background-color: #C9D158;;
    border-radius: 5px;
    color: #333;
}
.assign-color{
  /* background-color: #C9D158; */
  color: #333 !important;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border-color: #CFCFCF;
  padding: 10px 5px;
}

.navbar-default .navbar-nav>li>a {
  color: #ACACAC;
  font-weight: bold;
  margin-left: 5px;  margin-right: 5px;
}

/* Lead */
.lead {
  background-color: #081F35;
  background-image: url(img/starfield.png);
  color: white;
  padding: 100px 0 250px;
  margin-bottom: 0;
  overflow: hidden;
}
.lead #logo img {
  display: block;
  margin: 60px auto;
  width: 250px;
  
}
.lead .heading {
  font-size: 80px;
}
.lead .copy {
  font-size: 1.4em;
  text-align: center;
  max-width: 1024px;
  margin: 35px auto;
  font-family: 'Mikado Light';
}
.lead .call-to-action {
  padding-top: 50px;
  text-align: center;
}
.lead .btn {
  color: #111111;
}
.lead .btn.business {
  background-color: #C9D158;
}

/* Earth */
.earth-container * {
  position: absolute;
  display: block;
}
.earth-container {
    bottom: -150px;
    position: relative;
    left: -15px;
}
.earth {
  top: 109%;
  left: 21%;
}
#cloud1 {
  top: 50px;
  left: 727px;
}
#cloud1 {
  -moz-animation-name: cloud-1-keyframes;
  -moz-animation-duration: 10000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 0 0;
  -ms-animation-name: cloud-1-keyframes;
  -ms-animation-duration: 10000ms;
  -ms-animation-delay: 0ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 0 0;
  -o-animation-name: cloud-1-keyframes;
  -o-animation-duration: 10000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 0 0;
  -webkit-animation-name: cloud-1-keyframes;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0 0;
  animation-name: cloud-1-keyframes;
  animation-duration: 10000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@-moz-keyframes cloud-1-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-moz-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-moz-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-moz-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-moz-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-moz-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-moz-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-moz-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-moz-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-moz-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-moz-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-ms-keyframes cloud-1-keyframes {
  0% {-ms-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-ms-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-ms-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-ms-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-ms-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-ms-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-ms-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-ms-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-ms-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-ms-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-ms-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-o-keyframes cloud-1-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-o-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-o-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-o-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-o-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-o-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-o-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-o-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-o-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-o-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-o-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-webkit-keyframes cloud-1-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-webkit-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-webkit-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-webkit-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-webkit-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-webkit-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-webkit-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-webkit-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-webkit-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-webkit-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@keyframes cloud-1-keyframes {
  0% {transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
#cloud2 {
  top: 86px;
  left: 437px;
}
#cloud2 {
  -moz-animation-name: cloud-2-keyframes;
  -moz-animation-duration: 10000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 0 0;
  -ms-animation-name: cloud-2-keyframes;
  -ms-animation-duration: 10000ms;
  -ms-animation-delay: 0ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 0 0;
  -o-animation-name: cloud-2-keyframes;
  -o-animation-duration: 10000ms;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 0 0;
  -webkit-animation-name: cloud-2-keyframes;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0 0;
  animation-name: cloud-2-keyframes;
  animation-duration: 10000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@-moz-keyframes cloud-2-keyframes {
  0% {-moz-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-moz-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-moz-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-moz-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-moz-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-moz-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-moz-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-moz-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-moz-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-moz-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-moz-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-ms-keyframes cloud-2-keyframes {
  0% {-ms-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-ms-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-ms-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-ms-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-ms-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-ms-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-ms-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-ms-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-ms-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-ms-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-ms-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-o-keyframes cloud-2-keyframes {
  0% {-o-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-o-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-o-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-o-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-o-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-o-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-o-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-o-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-o-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-o-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-o-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-webkit-keyframes cloud-2-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {-webkit-transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {-webkit-transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {-webkit-transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {-webkit-transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-webkit-transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {-webkit-transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {-webkit-transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {-webkit-transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {-webkit-transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
@keyframes cloud-2-keyframes {
  0% {transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10% {transform:translate(7.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {transform:translate(12.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30% {transform:translate(16.8px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {transform:translate(19.2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {transform:translate(20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {transform:translate(19.0211px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70% {transform:translate(16.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {transform:translate(11.7557px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {transform:translate(6.1803px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {transform:translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
/* What we do */
.what-we-do {
  padding-top: 50px;
  text-align: center;
}
.what-we-do .header {
  padding-bottom: 80px;
}
.what-we-do .content h1 {
  font-family: 'Mikado Bold', Gotham, sans-serif;
}
.what-we-do img {
  width: 250px;
} 

/* Process */
.our-process {
  padding: 100px 0;
  background-color: white;
}
.our-process .content {
    margin: 100px;
}
.process-img {
    width: 100%;
    border-radius: 50%;
}
.process .heading {
    text-align: left;
    padding: 0 0 20px;
    margin-bottom: 20px;
}
.process {
    padding: 50px 0;
}

@media (max-width: 991px) {
  .process .heading,
  .process .desc {
    text-align: center;
  }
}

/* Projects */
.projects {
    background-color: #081F35;
    color: white;
    padding: 100px 0;
}
.projects .modal {
    color: #333;
}

/* Slider */
#project-slider .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Profile */
.profile {
  position: absolute;
  top: -118px;
  display: none;
}
.hero {
  position: relative;
  text-align: center;
}
.hero a:hover .profile {
  display: block
}
.profile .name, .profile .position {
  display: block;
  text-align: center;
}
.profile .name {
  font-size: 26px;
}
.profile .position {
  font-size: 13px;
}
.hero.kevin .profile {
  top: -60px;
  left: 19%;
}
.hero.edsil .profile {
  top: -84px;
  left: 13%;
}
.hero.geoff .profile {
  left: 13%;
  top: -84px;
}
.hero.raven .profile {
  left: 24%;
  top: -81px;
}
.hero.logi .profile {
  left: 10%;
  top: -78px;
}
.hero.juls .profile {
  left: 21%;
  top: -75px;
}
.hero.chiv .profile {
  left: 25%;
}
.hero.dimful .profile {
  left: 20%;
  top: -70px;
}

/* Team */
.team {
  padding: 100px 0;
  background-color: white;
}
.team .hero {
  display: inline-block;
  vertical-align: bottom;
}
.team .hero:not(:first-child) {
  margin-left: -37px;
}
.team .heroes {
  margin: 100px 0;
  padding: 0;
}
.team .hero img {
  width: 100%;
}
.team .heroes .hero.kevin, 
.team .heroes .hero.raven {
  z-index: 3;
}
.team .hero.papot .profile {
  left: 23%;  
  top: -75px;
}
.team .hero.gerber .profile {
  left: 14%;  
  top: -83px;
}

/* Contact */
.contact {
  background-color: #081F35;
  padding: 100px 0;
  color: white;
}
.contact .form-heading h3 {
  text-align: center;  margin-top: 0;
}
.contact-form .form-labels {
  padding: 0;
}
.contact-form .form-labels li {
  list-style: none;
}
.contact-form.col-lg-12 {
  padding: 50px 0;
}
.contact-form textarea {
  padding: 20px;
  height: 235px;
}
.contact-form .form-input input, 
.contact-form select, 
.contact-form textarea {
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #807B7B;
  margin-bottom: 23px;
  background: #081B2E;
}
.contact-form label {
  text-align: right;
}
.contact-form .btn {
  margin-right: 0;
  margin-left: 0;
  background-color: #30B4EB;
}
.contact-form > .col-lg-6 {
  padding: 0;
}

/* Typography */
a:focus {
  outline: none;
}
.header p {
  text-align: center;
}
.heading {
  font-family: 'Mikado Bold', Gotham, sans-serif;
  text-align: center;
}
.heading .normal {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Mikado Light', 'Clear Sans' ,'Helvetica Neue', Helvetica, sans-serif;
}
h2.heading {
  font-size: 2.7em;
}

h3.heading {
  font-size: 2.6em;
}


/* Animations */
@-webkit-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@-moz-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@-o-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}

#logo {
    display: block;

    -webkit-animation: animatelogo 2s infinite; /* Safari 4+ */
      -moz-animation:    animatelogo 2s infinite; /* Fx 5+ */
      -o-animation:      animatelogo 2s infinite; /* Opera 12+ */
      animation:         animatelogo 2s infinite; /* IE 10+ */
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid #eee;
  border-radius: 10px;
  margin: 20px 20px;
}

hr:after {
  display: inline-block;  width: 50px;  height: 50px;  
  background: #eee url('img/rocket-ships-separator.png') no-repeat 51% 44%;  
  background-size: 40%;  
  left: 50%;  
  content: " ";  
  position: relative;  
  top: -25px;
  transform: rotate(30deg);
  border-radius: 50%;
}

/* 480px Mobile Breakpoint */
@media (max-width: 480px) {
  .earth {
    left: -37%;
  }
  #cloud1 {
    top: 50px;
    left: 327px;
    width: 110px;
  }
  #cloud2 {
    top: 50px;
    left: 87px;
    width: 90px;
  }
  .navbar-brand {
    font-size: 22px;    
    padding: 10px;
      
  }
  .navbar-nav {
    padding: 0;
  }
  
  .our-process .content {
    margin: 20px;
  }
}

/* 760px Mobile Breakpoint */
@media (max-width: 760px) and (min-width: 481px) {
  #cloud1 {
    left: 507px;
    width: 100px;
  }
  .earth {
    top: 109%;
    left: 5%;
  }
  #cloud2 {
    top: 51px;
    left: 252px;
    width: 120px;
  }
  .navbar .navbar-brand {
    font-size: 22px;
    padding: 10px 20px;
  }
}

/* 960px Mobile Breakpoint */
@media (max-width: 960px) and (min-width: 761px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;  
    padding: 10px 8px;
  }
  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand {
    font-size: 28px;
    padding: 12px;
  }
  .earth {
    top: 110%;
    left: 5%;
  }
  #cloud1 {
    top: 30px;
    left: 507px;
    width: 120px;
  }
  #cloud2 {
    top: 56px;
    left: 236px;
    width: 100px;
  }
  .what-we-do .header {
    padding-bottom: 30px;
  }
  .what-we-do .content .col-lg-4 {
    padding-bottom: 40px;
  }
}


/* 991px Mobile Breakpoint */
@media (max-width: 991px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;  
    padding: 10px 8px;
  }
  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand {
    font-size: 28px;
    padding: 12px;
  }
  .contact-form .btn {
    width: 100%;
    padding: 20px;
  }
  .navbar-nav {
    margin: 0;
  }
}


/* 767px Mobile Breakpoint */
@media (max-width: 767px) {
  .navbar-nav .smintlink {
    text-align: center;
  }

}

/* max: 1199px Mobile Breakpoint */
@media (max-width: 1199px) {
  .team .heroes {
    text-align: center;
  }
  .team .hero {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 0 !important;
  }
  .team .hero a {
    text-decoration: none;
  }
  .profile {
    position: absolute;
    left: 0 !important;
    top: -40px !important;
    width: 250px;
    text-align: center;
  } 
}

