<!--STYLES-->
<link rel="stylesheet" href="/min/production.css">
<!--STYLES END-->

<section class="container">
    <section class="row">
        <section class="col-lg-12">
            <section class="logo"><img src="/images/webnified_logo.png" alt="Coming soon"></section>
            <h2 class="subtitle">Technology and Innovation for Business</h2>
            <h1 class="coming-soon">Coming soon...</h1>
            <form action="#" class="notify">
                <p>I’m really excited, let me know when you have arrived.</p>
                <input type="text" name="full_name" placeholder="Your full name">
                <input type="email" name="email_address" placeholder="Your email address">
                <button class="default blue"><i class="message-icon"></i> Notify me</button>
            </form>
        </section>
    </section>
</section>